{% set Btw = __SELF__.item %}

<table class="table">
    <thead>
      <tr>
        <th class="table-dark">Aangifte Datum</th>
        <th class="table-dark">Status</th>
        <th class="table-dark">Kwartaal</th>
        <th class="table-dark">Download*</th>
      </tr>
    </thead>
    {% for item in Btw %}
    <tbody>
        <tr>
          <td>{{ item.aangiftedatum }}</td>
          <td>{{ item.uitgevoerd|raw }}</td>
          <td>{{ item.period }}</td>
          <td><a class="text-muted"><i class="bi bi-download"></i></a></td>
        </tr>
      </tbody>

{% else %}
<div class="no-data">
  <div class="alert alert-danger" role="alert">
    <i><i class="bi bi-exclamation-triangle"></i> Geen Invoices gevonden</i>
  </div>
</div>
{% endfor %}
</table>
<p><i>* = in development</i></p>