{% set boekhouding = __SELF__.item %}

<table class="table">
    <thead>
      <tr>
        <th class="table-info">Date</th>
        <th class="table-info">Invoicenumber</th>
        <th class="table-info">Total amount</th>
        <th class="table-info">Tax amount</th>
        <th class="table-info">Tax rate</th>
        <th class="table-info">Company</th>
        <th class="table-info">Quarter</th>
      </tr>
    </thead>
    {% for item in boekhouding %}
    <tbody>
      <tr>
        <td>{{ item.boekhouding_factuurdatum }}</td>
        <td>{{ item.boekhouding_factuurnummer }}</td>
        <td>&euro; {{ item.boekhouding_bedrag }}</td>
        <td>&euro; {{ item.boekhouding_btwbedrag }}</td>
        <td>{{ item.boekhouding_btwtarief }}</td>
        <td>{{ item.boekhouding_bedrijf }}</td>
        <td>{{ item.boekhouding_kwartaal}}</td>
      </tr>
    </tbody>
    {% else %}
    <div class="no-data">
      <div class="alert alert-danger" role="alert">
        <i><i class="bi bi-exclamation-triangle"></i> Geen Invoices gevonden</i>
      </div>
    </div>
    {% endfor %}
</table>