{% set boekhouding = __SELF__.item %}

{% for item in boekhouding %}
<div class="mt-1">
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item flex-fill">Date: {{ item.boekhouding_factuurdatum }}</li>
        <li class="list-group-item flex-fill">Invoicenumber: {{ item.boekhouding_factuurnummer }}</li>
        <li class="list-group-item flex-fill">Total amount: &euro; {{ item.boekhouding_bedrag }}</li>
        <li class="list-group-item flex-fill">Tax amount: &euro; {{ item.boekhouding_btwbedrag }}</li>
        <li class="list-group-item flex-fill">Tax rate: {{ item.boekhouding_btwtarief }}</li>
        <li class="list-group-item flex-fill">Company: {{ item.boekhouding_bedrijf }}</li>
    </ul>
</div>
{% endfor %}